<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <h1 id="intro">Welcome to ejs</h1>
    <p id="p1">Hello my name is <span id="name-ele"><%= name %></span></p>
    <div class="flex-box">
      <div class="item">Div Item</div>
      <div class="item">Div Item</div>
      <div class="item">Div Item</div>
      <div class="item">Div Item</div>
      <div class="item">Div Item</div>
      <img src="images/image1.jpeg" alt="" />
    </div>
  </body>
</html>
