.navbar {
  background-color: darkgreen;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-brand {
  font-size: 28px;
  color: white;
  font-weight: 600;
}
.nav-link {
  color: white;
  padding: 10px;
  text-decoration: none;
}
